.card {
  width: 13rem;
  height: 16.9rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.active {
  background-color: #f0f8ff;
  box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.2);
}

.card .top {
  position: relative;
  padding: 1rem 1rem 0;
  border-bottom: 0.1rem solid #ccc;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.smallIcon {
  height: 1.5rem;
}

.price {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #d23918;
  font-size: 1.2rem;
}

.card .bottom {
  text-align: center;
}

.btmImg {
  height: 11rem;
}
